*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight:400;  
    font-style: normal;
    color: white;
}
.mt120px{
    margin-top: 120px;
}
.t24-18px{
    font-size: 1.5rem;
}
.t28-18px{
    font-size: 1.75rem;
}
.t20-16px{
    font-size: 1.25rem;
}
.t32-18px{
    font-size: 2rem;
}
.t30-28-16px{
    font-size: 30px;
}
.fw300{
    font-weight: 300;
}
.fw600{
    font-weight: 600;
}
.LI{
    font-style: italic;
    font-weight:300;  
    font-variation-settings:"slnt" -1;
}
body{
    background-color:#1A1E1D;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(26, 30, 29, 0.8);
    border-bottom-style: solid;
    border-bottom-width: .0625rem;
    border-bottom-color: #ABA8A8;
    height: 7.5rem;
    width: 100%;
    padding: 0rem 3rem;
    z-index: 2;
}
header img{
    height: 2.8rem;
}

header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 0 4rem;
    
}
.pagina_actual a {
    color: #FFC700;
    font-weight: 600;
}
.inicioFondo{
    width: 100%;
    height: 50rem;
    background-image: url("../assets/img/general/fondo.gif");
    background-position: center;
    background-size: cover;
}
.inicioFondo div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
}
.inicio{
    width: 100%;
    height: 50rem;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.inicio video{
    width: 100%;
}
.textoInicio{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin: 0 10%;
    margin-top: 20%;
    font-weight: 700;
}
.paginaContacto div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}
.paginaContacto div h2{
    font-size: 4.375rem;
    font-weight: 600;
    padding: 1.875rem 0;
    text-transform: uppercase;
}
.paginaContacto div p{
    font-size: 2.5rem;
    text-align: center;
}
.presentacion{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6.25rem 0px;
}
.presentacion div{
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentacion div p{
    font-size: 2.5rem;
    text-align: center;
    padding: .75rem;
    font-weight:300; 
}
.presentacion div p span{
    font-weight: 600;
}
.barra{
    width: 48%;
    height:.5rem;
    background-color: #FFC700;
}
.playlist{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 3.75rem;
}
.playlist div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist div div{
    width: 48%;
    height:.5rem;
    background-color: #FFC700;
    
}
.playlist div h2{
    padding: 5rem 0;
}
.barra1{
    align-self: self-start;
}
.barra2{
    align-self: self-end;
}
.spotify{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 4.5rem;
}
.programacion{
    display: flex;
    flex-direction: column;
    margin-top: 10.5rem;
    padding: 0 7.5rem;
}
.programacion h2{
    font-size: 2.5rem;
    margin-bottom: .7rem;
}
.programacion p{
    font-size: 1.5rem;
    font-weight: 300;  
}
.programa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(255, 200, 0, 0.3);
    margin-bottom: .625rem;
    padding-top: .5rem;
    padding-left: .25rem;
}
.T2h {
    height: 12.5rem;
}
.T3h{
    height: 18.75rem;
}
.T4h{
    height: 25rem;
}
.dia{
    padding: 2rem 0;
    margin: 0 1rem;
}
.dia p{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.programacionSemanal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    overflow-y:scroll;
    scrollbar-color: rgba(255, 200, 0, 0.3) transparent;
    scrollbar-width:thin;
}
.presentador{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentador img{
    width: 9.375rem;
    height: auto;
    border-radius: 50%;
}
.presentador p{
    margin-top: .5rem;
    font-size: 2rem;
}
.presentadores{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    margin-top: -8rem;
}
.infoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding:  1.875rem;
    background-color: rgba(215, 245, 123, 0.55);
    text-align: center;
}
.descripcion{
    font-size: 2rem;
    padding: 3.75rem 0;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    border-bottom-left-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
    overflow: hidden;
}
.portada{
    width: 100%;
}
.programaActual{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    padding: 0 7.5rem;
}
.contendorPrograma{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1.875rem 0;
}
.programaActual h2{
    font-size: 2rem;
}
.programaActual h3{
    font-size: 4rem;
    margin-bottom: 1.25rem  ;
}
.contenedorSeccion-artistaMusica{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 900px;
    justify-items: center;

}
.contenedorSeccion-artistaMusica img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: -1;
}
.artistaMusica{
    background-color: rgb(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr repeat(2,650px) 1fr;
    grid-template-areas:
    ". video texto."
    ;
    align-content: center;
    grid-template-rows:minmax(180px,500px) ;
    column-gap: 1.5rem;
}
.artistaMusica div:nth-child(1){
    grid-area: video;
    width:100%;
    height:100%;


}
.artistaMusica :nth-child(2){
    grid-area: texto;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2rem;
    line-height: 25px;
}
.artistaMusica :nth-child(2) h3{
    line-height: 40px;
}
.contenedorSeccion-topCanciones{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: 1fr 1300px 1fr;
    grid-template-areas: ". canciones .";
    column-gap: 1.5rem;
    justify-items: center;
}
.topCanciones{
    grid-area: canciones;
    width: 100%;
    padding: 3.75rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    row-gap: 1.875rem;
    
}
.topCanciones h2{
    grid-column: 1/-1;
    text-align: center;
}
.tituloBanda{
    display: flex;
    width: 100%;
    height: 11.25rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.tituloBanda h2{
    text-align: center;
}
.contenedorSeccion-bandaMes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 900px;
    justify-items: center;

}
.contenedorSeccion-bandaMes img:first-child{
    width: 100%;
    height: 100%;
    object-fit:cover;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: -1;
}
.infoBanda{
    background-color: rgb(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr repeat(2,650px) 1fr;
    grid-template-rows: auto 20.0625rem;
    grid-template-areas:
    " . p p ."
    " . img1 img2 ."
    ;
    row-gap: 3.125rem;
    align-content: center;
}
.infoBanda p{
    grid-area: p;
    text-align: center;
    
}
.contenedorSeccion-bandaMes img{
    width: auto;
    height: 100%;
    justify-self: center;
}
.contenedorSeccion-bandaMes img:nth-child(2) {
    grid-area: img1;
}
.contenedorSeccion-bandaMes img:nth-child(3) {
    grid-area: img2;
}
.seccionPlaylist{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
}

/*-----------------------------------------------*/
.noticias{
    margin-top: 200px;
}
.noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.125rem;
}
.noticia a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.noticia a h4{
    font-size: 2rem;
    background-color: #474747;
    padding: 1.25rem .625rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.75rem 0;
}
.formulario form{
    width: 40%;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    padding: 2.5rem 0;
}
.formulario form label{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.formulario form input{
    margin-bottom: 1.5rem;
    background-color: rgba(96, 96, 96, 0.4);
    border: 0;
    outline: none;
    font-size: 1.25rem;
    height: 2.25rem;
    padding: 0 .5rem;
}
.formulario form textarea{
    padding: .5rem;
    font-size: 1.25rem;
    background-color: rgba(96, 96, 96, 0.4);
    border: 0;
    outline: none;
}
.enviar{
    width: 25%;
    color: #333333;
    background-color:#FFC700;
    border: 0;
    font-size: 2rem;
    font-weight: 600;
    padding: .5rem;   
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333333;
    padding-top: 5rem;
}
.imgFooter{
    width: 15%;
}
footer h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.footerContacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 30%;
}
.footerContacto div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.footerRedes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 30%;
}
.footerRedes div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}
.iconTexto{
    display: flex;
    gap: .5rem;
}
.iconTexto img{
    height: 2rem;
}
.iconTexto p{
    font-size: 1.5rem;
}
.targetOn{
    border-bottom: .1875rem solid #FFC700;
}
.targetOff{
    border-bottom: .1875rem solid #323232;
}
.target{
    max-width: 25rem;
    min-height: 14.8125rem;
    border-radius: 1.25rem;
    background-color: #323232;
    padding: 1.25rem .9375rem;
    display: flex;
    flex-direction: column;
}
.color80{
    color: rgb(255, 255, 255 , .8);
    font-weight: 300;
}
.color_estado_red{
    background-color: rgba(246, 91, 119, 0.2);
    color: #F65B77;
    border-radius: .625rem;
    padding: .1875rem .625rem;
}
.color_estado_grey{
    background-color: rgb(201, 201, 201 ,.2);
    color: #BFBFBF;
    border-radius: .625rem;
    padding: .1875rem .625rem;
}
.color_estado_yellow{
    background-color: rgb(255, 199, 0, .2);
    color: #FFC700;
    border-radius: .625rem;
    padding: .1875rem .625rem;
}
.target{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 25rem;
}
.target .top,.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.target .top div{
    font-size: 1.125rem;
    display: flex;
    gap:.625rem;
}
.target .top div img{
    height: 1.25rem;
}   
.target h5{
    font-size: 2rem;
    color: white;
    align-self: center;
}
.target-hora{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.target-hora h5{
    font-size: 1rem;
}
.target-hora p{
    font-size: 1.5rem;
}
.fondoContenedor{
    background-color: #131111;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.programaActual{
    width: 90rem;
    margin: 0 20px;
    display: grid;
    grid-template-areas: 
    "title title title title title"
    "img  conductores dias hora ."
    "descripcion descripcion descripcion descripcion descripcion "
    ;
    grid-template-columns: 15.625rem repeat(4,auto) ;
    padding: 4.5rem 0;
    row-gap: 2.9375rem;
    column-gap: 2.875rem;
}
.NombrePresentadores,.DiasPrograma,.HoraPrograma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .875rem;
    background-color: #333333;
    padding: .625rem 1.25rem;
    border-radius: 1rem;
}
.programaActual div:nth-child(1){
    grid-area: title;
}
.programaActual div:nth-child(2){
    grid-area: img;
    max-width: 15.625rem;
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
}   
.programaActual div:nth-child(3){
    grid-area: conductores;
}
.programaActual div:nth-child(4){
    grid-area: dias;
}
.programaActual div:nth-child(5){
    grid-area: hora;
}
.programaActual div:nth-child(6){
    grid-area: descripcion;
    display: grid;
    row-gap: 20px;
}

.presentadoresPrograma img{
    object-fit: cover;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;  
}
.TSection{
    align-self:flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1.1875rem;
}
.TSection p{
    color: white;
    font-size: 1.875rem;
}
.TSection :first-child{
    width: .5rem;
    height: 2.5rem;
    background-color: #FFC700;
    border-radius: .625rem;
}

.programacionDiaria{
    width: 90rem;
    margin: 0 20px;
    padding: 4.5rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2.5rem;
    justify-items: center;
}
.programacionDiaria .TSection{
    justify-self: flex-start;
    grid-column: span 3;
}

/*Tablet*/
@media(max-width:81.25rem){
    .t30-28-16px{
        font-size: 1.75rem;
    }
    /*Incio de Seccion ArtistaMusica*/
    .artistaMusica{
        padding: 0  2rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "video texto"
        ;
    }
    /*Fin de Seccion ArtistaMusica*/
    /*Incio de Seccion BandaMes*/
    .infoBanda{
        padding: 0  2rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        " p p "
        " img1 img2"
    ;
    }
    /*Fin de Seccion BandaMes*/
    /*Inicio de Seccion Top Canciones*/
    .contenedorSeccion-topCanciones{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "canciones canciones";
    }
    .topCanciones{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        
    }
    /*Fin de Seccion Top Canciones*/
    /*Inicio Diseño section ProgramacionDiaria*/
    .programacionDiaria{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
    .programacionDiaria .TSection{
        grid-column: span 2;
    }
    /*Fin Diseño section ProgramacionDiaria*/
    /*Inicio de Seccion ProgramaActual*/
    .programaActual{
        width: 100%;
        grid-template-columns: 15.625rem repeat(3,auto) ;
        grid-template-areas: 
        "title title title title"
        "img  conductores conductores ."
        "dias hora . ."
        "descripcion descripcion descripcion descripcion"
        ;
    }
    /*Fin de Seccion ProgramaActual*/
}
@media(max-width: 56.25rem){
    /*Inicio de Seccion AristaMusica*/
    .artistaMusica{
        grid-template-columns: 1fr;
        grid-template-areas:
        "video"
        "texto"
        ;
        grid-template-rows: minmax(auto,400px) auto;
        align-content: center;
        padding: 9.375rem 2rem ;
        row-gap: 1.5rem;
    }
    .contenedorSeccion-artistaMusica{
        grid-template-rows:  auto;
    }
    .artistaMusica :nth-child(2){
        text-align: center;
    }
    /*Fin de Seccion AristaMusica*/
    /*Incio de Seccion BandaMes*/
    .contenedorSeccion-bandaMes{
        grid-template-rows: auto;
    }
    .infoBanda{
        padding: 2rem;
        grid-template-columns:1fr;
        grid-template-areas:
        "p"
        "img1"
        "img2"
    ;
    }

    /*Fin de Seccion BandaMes*/

    /*Inicion -- Diseño de TargetHorario*/
    .target{
        max-width: 21.875rem;
        min-height: 14.375rem;
    }
    .target h5{
        font-size: 1.75rem;
    }
    .target-hora h5{
        font-size: .875rem;
    }
    /*Fin -- Diseño de TargetHorario*/

}

/*Phone*/
@media(max-width:47.5rem){
    /*Inicio de Seccion AristaMusica*/
    .artistaMusica{
        grid-template-rows: minmax(auto,300px) auto;
    }
    /*Fin de Seccion AristaMusica*/
    /*Inicio de Seccion Top Canciones*/
    .topCanciones iframe{
        width:80%;
    }
    /*Fin de Seccion Top Canciones*/
    /*Inicio Diseño section ProgramacionDiaria*/
    .programacionDiaria{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .programacionDiaria .TSection{
        grid-column: span 1;
    }
    /*Fin Diseño section ProgramacionDiaria*/

    /*Inicio de Seccion ProgramaActual*/
    .programaActual{
        width: 100%;
        grid-template-areas: 
        "title"
        "img"
        "conductores"
        "dias" 
        "hora"
        "descripcion"
        ;
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .programaActual div:nth-child(2){
        justify-self: center;
    }
    .t24-18px{
        font-size: 1.125rem;
    }
    .t20-16px{
        font-size: 1rem;
    }
    /*Fin de Seccion ProgramaActual*/
}
@media(max-width:600px){
    .t30-28-16px{
        font-size: 16px;
    }
    /*Inicio de Seccion Top Canciones*/
    .topCanciones iframe{
        width:70%;
    }
    .topCanciones{
        grid-template-columns: repeat(1,1fr);
        row-gap: 1.875rem;
        
    }
    /*Fin de Seccion Top Canciones*/
}
@media(max-width:26.875rem){
    
    .t32-18px{
        font-size: 1.25rem;
    }
    .t28-18px{
        font-size: 1.25rem;
    }
    /*Inicio de Seccion TituloBanda*/
    .tituloBanda{
        height: 100px;
    }
    /*Fin de Seccion TituloBanda*/
    /*Inicio de Seccion AristaMusica*/
    .artistaMusica{
        padding: 0 2rem;
        padding-top: 9.375rem;
        padding-bottom: 3.125rem;
        row-gap: 1.5rem;
    }
    /*Fin de Seccion AristaMusica*/
    /*Inicio de Seccion Top Canciones*/
    .topCanciones iframe{
        width:70%;
    }
    /*Fin de Seccion Top Canciones*/
    /*Inicion -- Diseño de TargetHorario*/
    .target{
        max-width: 18.75rem;
        min-height: 11.4375rem;
        gap: 1.5625rem;
    }
    .target .top div{
        font-size: .875rem;
    }
    .target .top div img{
        height: .875rem;
    }
    .target h5,.target-hora p{
        font-size: 1.25rem;
    }
    .target-hora h5{
        font-size: .75rem;
    }
    /*Fin -- Diseño de TargetHorario*/
}