.musica_fondo{
    width: 100%;
    height: 900px;
    object-fit:cover;
    opacity: .3;
    grid-column: 1/4;
    @media(max-width:1300px){
        grid-column: 1/2;
    }
    grid-row: 1/2;
    z-index: -1;
    overflow: hidden;
}
.artistaMusica{
    grid-area: contenedor;
    border: 2px solid $blanco;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    .frameVideo{
        grid-column: 1/4;
        width: 100%;
        @include flex-horizontal-centrado;
        iframe{
            width: 80%;
        }
    }
    .descripcion{
        grid-column: 4/6;
        padding-right: 1.25rem;
        @include flex-vertical-gap(10px);
        justify-content: center;
        h3{
            @include style_texto($blanco,2rem,3,1);
            @include h2-h3;
            text-align: center;
        }
        p{
            @include style_texto($blanco,1.75rem,1,1);
            @include musica_p;
            line-height: 40px;
        }

    }
    
}

.topCanciones{
    grid-area: contenedor;
    border: 2px solid $blanco;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    row-gap: 1.875rem;
    @include topCanciones-responsive;
    h2{
        grid-column: 1/-1;
        padding: 2.5rem 0;
        @include style_texto($blanco,2rem,3,1);
        @include h2-h3;
    }
}
.tituloBanda{
    grid-area: contenedor;
    height: 180px;
    @include flex-horizontal-centrado;
    align-items: center;
    h2{
        @include style_texto($blanco,2.5rem,3,1);
        @media(max-width:600px){
            font-size: 1.125rem;
        }
        text-transform: uppercase;
    }
}
.fondo-banda{
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: .3;
    
}
.bandaMes{
    grid-area: contenedor;
    width: 100%;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center ;
    padding: 10px 3.75rem;
    p{
        grid-column: 1/3;
        @include style_texto($blanco,1.875rem,1,1);
        @include musica_p;
        text-align: center;
    }
    img{
        @include flex-horizontal-centrado;
        height: 90%;
        width: auto;
        border:2px solid rebeccapurple;
    }
    
}




.banda_Playlist{
    grid-area: contenedor;
    @include flex-vertical-gap(10px);
    align-items: center;
    padding: 50px 0;
    iframe{
        width: 55%;
    }
}