.section_noticias{
    grid-area: contenedor;
    margin: 150px 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 100px;

    article{
        @extend %noticia;
        a{  
            h4{
                @include article_responsive-h4;
            }
        }
    }
}