.targetOn{
    border-bottom: .1875rem solid $amarillo;
}
.targetOff{
    border-bottom: .1875rem solid $gris;
}
.target{
    margin: 0;
    max-width: 25rem;//400px
    min-height: 14.8125rem;
    border-radius: 1.25rem;
    background: $gris;
    padding: 1.25rem .9375rem;
    @include flex-vertical-gap(2.5rem);
    @media(max-width:600px){
        min-height: auto;
        @include flex-vertical-gap(20px);
        justify-content: space-between;
    }
    .top,.bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .top{
        div{
            margin: 0;
            @include flex-horizontal;
            gap: 10px;
            @media(max-width:800px){
                gap: 1px;
            }
            img{
                height: 1.25rem;
            }
            p{
                @include style_texto($blanco2,1.125rem,3,1);
                @media(max-width:600px){
                    font-size: 14px;
                }
            }
        }
        p{
            @include style_texto("",1rem,3,1);
            @media(max-width:600px){
                font-size: 14px;
            }
        }
    }
    
    h5{
        @include style_texto($blanco,2rem,2,1);
        @media(max-width:800px){
            font-size: 1.75rem;
        }
        @media(max-width:600px){
            font-size: 1.25rem;
        }
        align-self: center;
    }
    .bottom .target-hora{
        @extend %card_basic2;
        h5{
            @include card_basic2-h5;  
        }
        p{
            @include card_basic2-p;
        }
    }
    
}

@mixin p_base{
    border-radius: .625rem;
    padding: .1875rem .625rem;
}
.color_estado_red{
    @include p_base;
    background:$rojo-fondo;
    color: $rojo;
}
.color_estado_grey{
    @include p_base;
    background:$gris2-fondo;
    color: $gris2;
}
.color_estado_yellow{
    @include p_base;
    background:$amarillo-fondo;
    color: $amarillo;
}

