%card_basic{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .875rem;
    background-color: $gris;
    padding: .625rem 1.25rem;
    border-radius: 1rem;
    p,span{
        margin: 0;
        color: $blanco;
        background: $gris;
        font-style: map-get($map: $fonts-style, $key:1 );
    }
    p:nth-child(1){
        color:$blanco2;
        font-size: 1.25rem;//20px
        font-weight: map-get($map:$fonts-weight , $key:1 );
    }
    p:nth-child(2),span{
        font-size: 1.5rem;//24px
        font-weight: map-get($map:$fonts-weight , $key:2 );
    }
}
%card_basic2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    h5,p{
        margin: 0;
        font-style: map-get($map: $fonts-style, $key:1 );
    }
    h5{
        color: $blanco2;
        font-size: 1rem;
        font-weight: map-get($map:$fonts-weight , $key:1 );  
    }
    p{
        color: $blanco2;
        font-size: 1.5rem;
        font-weight: map-get($map:$fonts-weight , $key:3 ); 
    }
}
%noticia{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{  
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        text-decoration: none;
        img{
            width: 100%;
            height: auto;
        }
        h4{
            margin: 0;
            font-size: 40px;
            font-style: map-get($map: $fonts-style, $key:1 );
            font-weight: map-get($map:$fonts-weight , $key:2 ); 
            text-align: center;
            color:$blanco;
            background:$gris3;
            padding: 2rem 1.5rem;
        }
    }
}