
header{
    nav{
        background:$fondo_nav;
        min-height: 5.625rem;
        max-height: 7.5rem;
        border-bottom: 1px solid $blanco2;
    }
    .navbar-brand{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 120px;
    }
    .navbar-brand img{
        padding-left: 30px;
        height: 50%;
    }
    .navbar-nav{
        padding-right: 20px;
        gap: 10px;
        .nav-item a.active{
            @include style_texto($blanco,2rem,2,1);
        }
    }
    .nav-link{
        @include style_texto($blanco,2rem,2,1);
    }
    
}
