$amarillo:#FFC700;
$blanco:#FFFFFF;
$blanco2:rgba(255, 255, 255, 0.80);
$fondo:#1A1E1D;
$gris:#323232;
$gris2:#BFBFBF;
$rojo:#F65B77;
$rojo-fondo:rgba(247, 91, 120, 0.200);
$amarillo-fondo:rgba(255, 200, 0, 0.200);
$gris2-fondo:rgba(201, 201, 201, 0.200);