$fonts-weight:(
    1:300,  //light
    2:400,  //regular
    3:600   //semi-bold

);
$fonts-style:(
    1:normal,
    2:italic
);
p{
    font-weight: map-get($map:$fonts-weight , $key:3 );
    font-style: map-get($map: $fonts-style, $key:2 );
}